img {
	max-width: 100%;
	vertical-align: bottom;
}

body {
	margin:0;
	background-color: white;

}

header {
	display: flex;
	position: fixed;

}


#nav{
    display: flex;
    width: 100%;
    height: 20px;
    position: fixed;
    background-color: blue;
    margin-top: 5px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    top: 40px;
    z-index: 9999;
    text-decoration: none;
    overflow: hidden;
}
a{
	text-decoration: none;

}
a:hover{
	color: blue;
}
#container{

	width: auto;
	height: auto;
	margin-top: 120px;
	padding: 10px;
	text-align: center;
	background-color: #fffbd5;
	position: center;

}
#titol1{
	margin: auto;
	width: auto;
	height: auto;
	text-align: center;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 50px;

	
}
#titol2{

	width: 100%;
	height: auto;

	padding: 10px;
	justify-content:center;
	text-align: center;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 25px;


}
#text{
	text-align: center;
	margin: auto;
	width: auto;
	height: auto;

	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 18px;

}




#cont{
	width: 100%;
	height: 100%;
	margin-top: 30px;
	padding: 5px;

}
#model{
	width: auto;
	height: auto;
	text-align: center;
	padding: 5px;
	margin-top: 20px;


}
.nom{
	text-align: center;
	width: auto;
	height: 50px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 35px;
	padding: 20px;
	margin-top: 100px;

}

#llista{

	width: 100%;
	height: 100%;
	text-align: center;
	padding: 5px;
	margin-top: 50px;
	margin-bottom: 100px;

}


#peu{
	text-align: center;

	width:100%;
	height: auto;
	position: fixed;
}















