img {
    max-width: 100%;
    vertical-align: bottom;
}

body {
    margin:0;
    background-color: white;

}
header {
    display: flex;
    position: fixed;
}
a{
    text-decoration: none;

}
a:hover{
    color: white;
}
.icono{
    width: 15px;
    height: 15px;
    text-align: center;
}

#capzalera {

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
	width: 100%;
    height: 40px;
	/*border:solid 1px #0066FF;*/
	background:#003;
	background-image:url(../../img/logo.jpg);
	background-position: left;
	background-repeat:no-repeat;
    margin: auto;
    position: fixed;
    top: 0;
    z-index: 10000;

}
.contacte{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width:100%;
    height:30px;
   position: absolute;
    padding: 5px;
    right: 30px;
}
#tel{
    color: ghostwhite;
    font-size: 12px;
   
    
}


#face{
    width:15px;
    height:15px;
    background-color: dodgerblue;
    border-radius: 10px 10px 10px;
    position: absolute;
    top:5px;
    right: 5px;

}
#face:hover{
    cursor: pointer;
    background-color: white;
}

#logo{
    display: flex;
    left:0px;
    width:20px;
    height:20px;
    position: fixed;
     border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    
   
}


#nav{
    display: flex;
    width: 100%;
    height: 20px;
    position: fixed;
    background-color: blue;
    margin-top: 5px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    top: 40px;
    z-index: 9999;
    text-decoration: none;
    overflow: hidden;
}

a{
    width: 100%;
    display: flex;
    text-decoration: none;
    justify-content:center;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.activo{
    
    background-color: white;
   
     
    border-right-style: double;
    border-right-color: black;
   
}
#contacto{
    border-right-style: groove;
}
#links{
    display: flex;
    width: 100%;
    height: 100%;
    font-size: 12px;
    font-family: fantasy;
    margin: auto;
    font-weight: bolder;
    flex-direction: row;
  
    padding: 2px;
    text-align: center;
   



    
}
 a:hover{
    text-decoration:none;
     color:black;

}

#peu{
    display: flex;
	width:100%;
	height:40px;
	background:#003;
	
    position: fixed;
    bottom:0;

}

#menupeus{
    text-align: center;
    color: crimson;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
}

