img{
    max-width:100%;
    max-height: 100%;
    vertical-align: bottom;
}



#cos{
    display: flex;
    width: auto;
    height: 100%;
    
    margin:150px auto;
   
    border-radius: 20px 20px 20px 20px;;
	box-shadow: 3px 3px 7px #777;

	
	
    background-color: azure;
}
.text{
    font-size: 4em;
    color:black;
    font-family:Tahoma, Geneva, sans-serif; font-size:16px; font-weight:bold; color:black;
    text-align: center;
    padding: 10px;
}
#catalogo{
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}
.miniatura{
    margin: 10px 10px;
    justify-content: space-between;
    text-align: center;

    width: 450px;
    height: 230px;
    background-color:darkgrey;
    padding: 10px;
    
    box-shadow: 5px 5px 10px gray;
    margin: auto;
}
.artamp{
    width: 100%;
    margin: auto;
    }
.miniatura:hover{
    cursor: zoom-in;

}
.text:hover{
    cursor: pointer;
    color: blue;
}
